---
import CookieState from '@/common/components/CookieState.svelte';
import StorageState from '@/common/components/StorageState.svelte';
import Layout from '@/common/layouts/Layout.astro';

import '@/store/styles/store.css';
---

<Layout title='Store Page'>
  <div class='page-container'>
    <div class='store-container'>
      <div id='card-container' class='card-container'>
        <h3 class='store-title'>Write anything in this form and send</h3>
        <div class='relative z-0 mx-auto mt-6 w-64'>
          <input
            type='text'
            id='inputable'
            class='input-design peer'
            placeholder=' '
          />
          <label for='floating' class='floating-design'> here</label>
        </div>
        <div id='send-button' class='store-btn'></div>
        <CookieState client:load />
        <StorageState client:load />
      </div>
      <div class='centered-button-ctn'>
        <a class='standard-button' href='/' rel='prefetch'> Go to Store</a>
      </div>
    </div>
  </div>
</Layout>

<script src='@/common/elements'></script>
<script src='@/store/elements'></script>
