---
import '@/store/ui/styles/store.css'

import { CookieState } from '@/common/ui/components/cookie-state/cookie-state'
import { StorageState } from '@/common/ui/components/storage-state/storage-state'
import Layout from '@/common/ui/layouts/Layout.astro'
---

<Layout title='Store Page'>
  <div
    class='my-auto mt-10 flex size-full flex-col items-center justify-center'
  >
    <div class='card-container' id='card-container'>
      <h3 class='store-title'>Write anything in this form and send</h3>
      <div class='relative z-0 mx-auto mt-6 w-64'>
        <input
          class='input-design peer'
          id='inputable'
          placeholder=' '
          type='text'
        />
        <label class='floating-design' for='floating'> here</label>
      </div>
      <div class='store-btn' id='send-button'></div>
      <CookieState client:load />
      <StorageState client:load />
    </div>
    <div class='centered-button-ctn'>
      <a class='standard-button' href='/' rel='prefetch'>Go to Store</a>
    </div>
  </div>
</Layout>

<script src='@/common/ui/scripts'></script>
<script>
  import Cookies from 'js-cookie'
  import { html } from 'sinuous'
  import { inject } from '~/config'

  const scriptFunction = () => {
    const { dataStore } = inject.resolve('dataService')

    const send = () => {
      const value =
        document.querySelector<HTMLInputElement>('#inputable')?.value ?? ''
      Cookies.set('data', value)
      dataStore.set(value)
    }

    document
      .querySelector('#send-button')
      ?.append(html`
        <button class="standard-button" onclick=${send}>Send</button>
      `)
  }

  scriptFunction()
</script>
