---
import { CookieState } from '@/common/components/cookie-state/cookie-state'
import { StorageState } from '@/common/components/storage-state/storage-state'
import Layout from '@/common/layouts/Layout.astro'

import '@/store/styles/store.css'
---

<Layout title='Store Page'>
  <div
    class='my-auto mt-10 flex size-full flex-col items-center justify-center'
  >
    <div id='card-container' class='card-container'>
      <h3 class='store-title'>Write anything in this form and send</h3>
      <div class='relative z-0 mx-auto mt-6 w-64'>
        <input
          type='text'
          id='inputable'
          class='input-design peer'
          placeholder=' '
        />
        <label for='floating' class='floating-design'> here</label>
      </div>
      <div id='send-button' class='store-btn'></div>
      <CookieState />
      <StorageState />
    </div>
    <div class='centered-button-ctn'>
      <a class='standard-button' href='/' rel='prefetch'>Go to Store</a>
    </div>
  </div>
</Layout>

<script src='@/common/scripts'></script>
<script>
  import Cookies from 'js-cookie'
  import { html } from 'sinuous'

  import { data } from '@/common/stores'

  const send = () => {
    const value =
      document.querySelector<HTMLInputElement>('#inputable')?.value ?? ''
    Cookies.set('data', value)
    data.set(value)
    document.dispatchEvent(new CustomEvent('data', { detail: value }))
  }

  document
    .querySelector('#send-button')
    ?.append(html`
      <button class="standard-button" onclick=${send}>Send</button>
    `)
</script>
