---
import Layout from '@/layouts/main/MainLayout.astro';

import { StorageState } from '@/components';

import '@/styles/global.css';
import '@/styles/store.css';
---

<Layout title="Store Page">
  <div class='page-container'>
    <div class='store-container'>
      <div class='card-container'>
        <h3 class='store-title'>
          Write anything in this form and send
        </h3>
        <div class='relative z-0 w-64 mx-auto mt-6'>
          <input
            type='text'
            class='peer input-design inputable'
            placeholder=' '
          />
          <label for='floating' class='floating-design'>
            here
          </label>
        </div>
        <div class='store-btn'>
          <button class='standard-button'>
            Send
          </button>
        </div>
        <StorageState client:load />
      </div>
      <div class='centered-button-ctn'>
        <a
          class='standard-button'
          href='/'
        >
          Go to Store
        </a>
      </div>
    </div>
  </div>
</Layout>

<script src='@/scripts/store' />