---
import { Toggler } from '../toggler/toggler'

import './header.css'
---

<div class='flex items-center justify-center'>
  <nav id='navbar' class='navbar'>
    <div
      class='mx-auto flex max-w-7xl items-center justify-between px-2 sm:px-6 lg:px-8'
    >
      <div class='flex flex-1 shrink-0 items-stretch justify-start'>
        <img src='/favicon.svg' class='mr-5 block h-8 w-auto' alt='' />
        <a href='/' class='adaptable-text -ml-2 font-medium' rel='prefetch'>
          Astro + TS Template
        </a>
      </div>
      <div class='toggler-container'>
        <Toggler />
      </div>
    </div>
  </nav>
</div>

<script>
  import { theme } from '@/common/stores'

  const nav = document.querySelector('nav')

  nav!.className = `navbar ${theme.get().control}`
  theme.subscribe(th => (nav!.className = `navbar ${th.control}`))
</script>
