---
import Toggler from './Toggler.svelte';

import '@/common/styles/header.css';
---

<div class='flex items-center justify-center'>
  <nav id='navbar' class='navbar'>
    <div class='mx-auto max-w-7xl px-2 sm:px-6 lg:px-8'>
      <div class='flex items-center justify-between'>
        <div class='flex flex-1 items-stretch justify-start'>
          <div class='flex shrink-0 items-center'>
            <img src='/favicon.svg' class='mr-5 block h-8 w-auto' alt='' />
            <a href='/' class='adaptable-text -ml-2 font-medium' rel='prefetch'>
              Astro + TS Template
            </a>
          </div>
        </div>
        <div class='toggler-container'>
          <Toggler client:load />
        </div>
      </div>
    </div>
  </nav>
</div>

<script>
  import { $ } from 'carbonium';

  import { theme } from '@/common/stores';

  const nav = $('nav');

  nav.className = `navbar ${theme.get().control}`;
  theme.subscribe(th => (nav.className = `navbar ${th.control}`));
</script>
