---
import './header.css'

import { Toggler } from '@/common/ui/components/toggler/toggler'
---

<div class='flex items-center justify-center'>
  <nav class='navbar' id='navbar'>
    <div
      class='mx-auto flex max-w-7xl items-center justify-between px-2 sm:px-6 lg:px-8'
    >
      <div class='flex flex-1 shrink-0 items-stretch justify-start'>
        <img alt='' class='mr-5 block h-8 w-auto' src='/favicon.svg' />
        <a class='adaptable-text -ml-2 font-medium' href='/' rel='prefetch'>
          Astro + TS Template
        </a>
      </div>
      <div class='toggler-container'>
        <Toggler client:load />
      </div>
    </div>
  </nav>
</div>

<script>
  import { inject } from '~/config'

  const scriptFunction = () => {
    const { themeStore } = inject.resolve('themeService')

    const nav = document.querySelector('nav')

    nav!.className = `navbar ${themeStore.get().control}`
    themeStore.subscribe(th => (nav!.className = `navbar ${th.control}`))
  }

  scriptFunction()
</script>
