---
import Layout from '@/common/layouts/Layout.astro';

import CookieState from '@/common/components/CookieState.svelte';
import StorageState from '@/common/components/StorageState.svelte';
import Call from '@/home/components/Call.svelte';
import Spinner from '@/home/components/Spinner.astro';

import '@/home/styles/home.css';
---

<Layout title='Home Page'>
  <div class='page-container'>
    <div class='home-container'>
      <div class='card-flex'>
        <div id='card-container' class='card-container'>
          <p class='adaptable-amina'>
            Made with love by
          </p>
          <img-reactive
            style='scale-75 lg:scale-80'
            white='brandwhite'
            black='brand'
          >
          </img-reactive>
          <h3 class='adaptable-center-text-base font-semibold mb-4'>
            Happy Hacking! with Typescript?
          </h3>
          <p class='adaptable-center-text-base font-roboto mb-8'>
            Roboto Font works with
          </p>
          <img-reactive
            style='scale-50 tall:scale-65 lg:scale-65'
            white='tailwindwhite'
            black='tailwind'
          >
          </img-reactive>
          <img
            alt='' id='imagetwo' class=''
          />
        </div>
        <div id='card-container' class='card-container'>
          <CookieState client:load />
          <StorageState client:load />
          <h3 class='adaptable-center-text-bold'>
            Lets see bitcoin price
          </h3>
          <Call client:load><Spinner /></Call>
        </div>
      </div>
      <div class='centered-button-ctn'>
        <a class='standard-button' href='/store' rel='prefetch'>
          Go to store
        </a>
      </div>
      <div
        id='buttons-selector'
        class='flex flex-row gap-7 mt-3 w-fit mx-auto'>
      </div>
    </div>
  </div>
</Layout>

<script src='@/common/elements' />
<script src='@/home/elements' />