---
import '@/home/ui/styles/home.css'

import { CookieState } from '@/common/ui/components/cookie-state/cookie-state'
import { StorageState } from '@/common/ui/components/storage-state/storage-state'
import Layout from '@/common/ui/layouts/Layout.astro'
import { Call } from '@/home/ui/components/call'
import Spinner from '@/home/ui/components/Spinner.astro'
---

<Layout title='Home Page'>
  <div class='mt-10 flex h-min flex-col justify-center backdrop-blur-xl'>
    <div class='card-flex'>
      <div class='card-container' id='card-container'>
        <p class='adaptable-amina'>Made with love by</p>
        <img-reactive
          black='brand'
          classstyle='scale-75 lg:scale-80'
          white='brandwhite'></img-reactive>
        <h3 class='adaptable-center-text-base mb-4 font-semibold'>
          Happy Hacking! with Typescript?
        </h3>
        <p class='adaptable-center-text-base mb-8 font-roboto'>
          Roboto Font works with
        </p>
        <img-reactive
          black='tailwind'
          classstyle='scale-50 tall:scale-65 lg:scale-65'
          white='tailwindwhite'
        >
        </img-reactive>
        <img alt='' class='' id='imagetwo' />
      </div>
      <div class='card-container' id='card-container'>
        <CookieState client:load />
        <StorageState client:load />
        <h3 class='adaptable-center-text-bold'>Lets see bitcoin price</h3>
        <Call client:load><Spinner /></Call>
      </div>
    </div>
    <div class='centered-button-ctn'>
      <a class='standard-button' href='/store' rel='prefetch'> Go to store</a>
    </div>
    <div class='mx-auto mt-3 flex w-fit flex-row gap-7' id='buttons-selector'>
    </div>
  </div>
</Layout>

<script>
  import { scriptFunction } from '@/common/ui/scripts'
  scriptFunction()
</script>

<script>
  import { scriptFunction } from '@/home/ui/scripts'
  scriptFunction()
</script>
