---
import Header from '@/components/Header.astro';

export type Props = { title: string };

const { title } = Astro.props;

import '@/styles/global.css';
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description'>
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <div
      global-container
      class='app min-h-screen transition-colors duration-1000'
    >
      <main>
        <slot />
        <Header />
      </main>
    </div>
	</body>
</html>

<script>
import { listenTheme } from '@/events';
import { theme } from '@/stores';

const { isDark, white, dark } = theme.get();

const currentTheme: string[] = [];
const container = document.querySelector<HTMLDivElement>(
  '[global-container]'
)!;

if(isDark) document.body.classList.add('dark');
container.classList.add(white, dark);

listenTheme((th) => {
  container.classList.remove(...currentTheme);
  currentTheme.splice(0);
  currentTheme.push(th.white, th.dark);
  container.classList.add(...currentTheme);
});
</script>