.adaptable-text {
  @apply text-slate-900
  transition-colors
  duration-1000 dark:text-slate-300;
}

.adaptable-center-text {
  @apply text-center text-slate-900
  transition-colors duration-1000 dark:text-slate-300;
}

.adaptable-center-text-base {
  @apply adaptable-center-text
  text-base lg:text-xl;
}

.adaptable-center-text-bold {
  @apply adaptable-center-text
  my-4 text-lg font-semibold lg:text-3xl;
}

.adaptable-call {
  @apply adaptable-center-text
  text-base font-semibold lg:text-lg;
}

.adaptable-amina {
  @apply adaptable-center-text font-amina
  text-lg lg:text-3xl tall:text-xl;
}

.store-title {
  @apply adaptable-center-text mb-4
  text-base font-semibold lg:text-xl;
}

.adaptable-xl {
  @apply adaptable-center-text text-base
  font-semibold lg:text-xl;
}

.card-container {
  @apply flex max-w-xl flex-col rounded-lg px-8
  py-4 shadow-lg backdrop-blur-3xl
  transition-colors duration-1000
  lg:items-center lg:justify-center;
}

.standard-button {
  @apply select-none
  rounded-full bg-stone-800/10
  px-4 py-2 font-bold
  text-black transition ease-in-out hover:scale-105
  hover:bg-slate-300/80 disabled:text-black/50
  dark:bg-white/50;
}

.page-container {
  @apply absolute inset-0 m-auto flex
  h-[70%] justify-center backdrop-blur-xl;
}

.toggle-title {
  @apply adaptable-text ml-3 select-none
  text-sm font-medium;
}

.centered-button-ctn {
  @apply my-8 flex
  items-center justify-center tall:my-6;
}
