---
import Head from '@/common/ui/components/head/Head.astro'
import Header from '@/common/ui/components/header/Header.astro'

export type Props = { title: string }

const { title } = Astro.props

import '~/styles/global.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <Head title={title} />
  </head>
  <body>
    <main class='flex h-screen flex-col'>
      <Header />
      <slot />
    </main>
    <script>
      import { scriptFunction } from '@/common/ui/layouts/layout'
      scriptFunction()
    </script>
  </body>
</html>
