---
import Toggler from './Toggler.svelte';
---

<div class='flex items-center justify-center'>
  <nav class='navbar'>
    <div class='max-w-7xl mx-auto px-2 sm:px-6 lg:px-8'>
      <div class='flex items-center justify-between'>
        <div class='flex-1 flex items-stretch justify-start'>
          <div class='flex-shrink-0 flex items-center'>
            <img src='/favicon.svg' class="block h-8 w-auto mr-5" alt='' />
            <a href='/' class='-ml-2 font-medium adaptable-text'>
              Astro + TS Template
            </a>
          </div>
        </div>
        <div class='toggler-container'>
          <Toggler client:load />
        </div>
      </div>
    </div>
  </nav>
</div>

<script>
import { listenTheme } from '@/events';
import { theme } from '@/stores';

const { control } = theme.get();

const container = document
  .querySelector<HTMLDivElement>('nav')!;

container.classList.add(control);

listenTheme((theme) => {
  const classes = container!.classList;
  classes.remove(classes[classes.length - 1]!);
  classes.add(theme.control);
});
</script>

<style>
.navbar {
  @apply backdrop-blur-xl transition-colors
  duration-1000 rounded-full w-11/12 mt-3;
}

.toggler-container {
  @apply items-center mt-4 sm:static
  sm:inset-auto sm:ml-6 sm:pr-0;
}
</style>